$background-color: #f7f7f7;
$inputField: #ffffff;
$inputPadding: 8px;
$border: #dddddd;
$border-hover: #bbbbbb;
$border-focus: yellowgreen;
$border-radius: 5px;

.formBox {
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  padding-bottom: 30px;
  background-color: $background-color;
  width: 800px;
  border-radius: $border-radius;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
}

.genericInput {
  border: 2px solid $border;
  background-color: $inputField;
  border-radius: $border-radius;
  padding: 8px;
  box-shadow: 0 0.5em 1em -0.2em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
}

.inputBox {
  width: calc(100% - 2 * $inputPadding);
}

input {
  max-width: 100%;
  width: 100%;

  &:hover {
    border-color: $border-hover;
  }

  &:focus {
    border-radius: $border-radius;
    outline: none;
    border-color: $border-focus;
  }
}

input[type="date"] {
  width:auto;
}

textarea {
  width: 100%;
  min-height: 75px;
  height: fit-content;
  resize: none;

  &:hover {
    border-color: $border-hover;
  }

  &:focus {
    border-radius: $border-radius;
    outline: none;
    border-color: $border-focus;
  }
}

select {
  width: fit-content;

  &:hover {
    border-color: $border-hover;
  }
}

.selectBox {
  display: flex;
  gap: 10px;
}

button {
  width: 170px;
  &:hover {
    border-color: $border-hover;
  }

  &:active{
    background-color: #f6f6f6;
    border-color: $border-focus;
  }
}

.darkButton {
  background-color: #eeeeee;
  border-color: #cccccc;

  &:active{
    background-color: #e6e6e6;
    border-color: $border-focus;
  }
}

.nameAndIdBox {
  display: grid;
  grid-template-columns: auto 30%;
  gap: 15px;
}

.field {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.formSection {
  display: flex;
  flex-direction: column;
  gap:10px
}

.formButtons {
  width: 100%;
  display: flex;
  align-content: space-between;
  gap: 10px;

  button {
    flex-shrink: 0;
  }

}

hr {
  width: 100%;
}

label {
  font-size: 0.9em;
  font-weight: 700;
}

.header {
  text-align: center;
}

