$background-color: #f7f7f7;
$inputField: #ffffff;
$inputPadding: 8px;
$border: #dddddd;
$border-hover: #bbbbbb;
$border-focus: yellowgreen;
$border-radius: 5px;

.formBox {
  margin-top: 20px;
  padding: 12px;
  background-color: $background-color;
  width: 800px;
  border-radius: $border-radius;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
}

.genericInput {
  border: 2px solid $border;
  background-color: $inputField;
  border-radius: $border-radius;
  padding: 8px;
  box-shadow: 0 0.5em 1em -0.2em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
}

.inputBox {
  width: calc(100% - 2 * $inputPadding);
}

input {
  max-width: 100%;
  width: 100%;

  &:hover {
    border-color: $border-hover;
  }

  &:focus {
    border-radius: $border-radius;
    outline: none;
    border-color: $border-focus;
  }
}

select {
  width: fit-content;

  &:hover {
    border-color: $border-hover;
  }
}

.selectBox {
  display: flex;
  gap: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

hr {
  width: 100%;
}

label {
  font-size: 0.9em;
  font-weight: 700;
  flex: 1.5em;
}

.header {
  text-align: center;
}

.error {
  color: red;
  min-height: 21.33px;
}

.errorHidden {
  visibility: hidden;
}

.errorShown {
  visibility: visible;
}
